/* Emoji Drawer */

.theme-dark .scrollerThemed-19vinI.themeLight-1WK0Av.scrollerTrack-3hhmU0>.scroller-fzNley::-webkit-scrollbar-track {
	background-color: #3e4046;
}

.theme-dark .scrollerThemed-19vinI.themeLight-1WK0Av .scroller-fzNley::-webkit-scrollbar-thumb {
    background-color: #2c3034;
}

.emojiPicker-3g68GS , .search-bar.search-bar-light , .category-3rCtoh, .search-bar.search-bar-light  {
    background-color: #44484f;
}

.emojiPicker-3g68GS .scroller-2dsok0 .emojiItem-3l4Fa9.selected-1LQfcZ {
    background-color: #36393e;
}

.search-bar.search-bar-light .search-bar-inner{
	background: hsla(218,5%,47%,.3);
}

.search-bar.search-bar-light input {
	color: hsla(0,0%,100%,.7);
}

.search-bar.search-bar-light input::-webkit-input-placeholder {
	color: hsla(0,0%,100%,.4);
}

/* End of Emoji Drawer */



/* Search menu */
.search-popout, .theme-dark .theme-light .ui-calendar-picker .react-datepicker__day--outside-month  {
    background-color: #2f3136;
}

.theme-dark .theme-light .ui-calendar-picker .react-datepicker__day--disabled, .theme-dark .theme-light .ui-calendar-picker .react-datepicker__day--disabled, .theme-light .ui-calendar-picker .react-datepicker__day--disabled, .theme-dark .theme-light .ui-calendar-picker .react-datepicker__day.react-datepicker__day--disabled, .theme-dark .theme-light .ui-calendar-picker .react-datepicker__day.react-datepicker__day--disabled:hover {
    background-color: #36393e;
    color: #737f8d;
}


.search-popout .option:after, .search-popout .option.selected:after, .theme-dark .theme-light .ui-calendar-picker .react-datepicker__header {
    background: transparent;
}

.search-popout .option.selected, .theme-dark .theme-light .ui-calendar-picker .react-datepicker, .theme-light .ui-calendar-picker .react-datepicker {
    background-color: #36393e;
}

.search-popout .search-query .search-for strong, .search-popout .option .non-text, .search-popout .option .answer, .search-popout .option.user .displayed-nick, .theme-dark .theme-light .ui-calendar-picker .react-datepicker__day--outside-month, .theme-light .ui-calendar-picker .react-datepicker__day--outside-month {
    color: #737f8d;
}

.search-popout .option strong, .search-popout .search-option .filter, .theme-dark .theme-light .ui-calendar-picker .react-datepicker__current-month, .theme-dark .theme-light .ui-calendar-picker .react-datepicker__day, .theme-dark .theme-light .ui-calendar-picker .react-datepicker__day-name {
    color: hsla(0,0%,100%,.7);
}

/* End of search menu */
